block content
  div(class="" id="" style="background-color: black;")
      div(class="container" style="color: #7a8f8f;")
        div(class="row")
          div(class="col-md-8 col-md-offset-2" style="text-align: center; margin-top: 15px;")
            h3='Hacer el pie de página'
        
        div(class="row" style="margin-bottom: 40px;")
          div(class="col-md-4" style="text-align: right;")
            h4(style="margin-top: 0px;")='Información de contacto'
            h5='Teléfono: 01-800-doctorB.'
            h5='Dirección: Enrique Segoviano.'
          
          div(class="col-md-6")
            p='Poner algo de texto para llenar esta parte, considero que se ve bien pero hay que poner cosas para que se llene.'
    
    div(class="" id="" style="background-color: darkslategray")
      div(class="container" style="color: white; text-align: center;")
        h4='&#169; 2017  El boletín' 