doctype html
html
  head
    meta(charset='utf-8')
    // <meta name="viewport" content="width=device-width, initial-scale=1">
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

    link(rel='stylesheet', href='/stylesheets/estilo-home-page.css')

    title P&aacute;gina del bolet&iacute;n

  body
    include navUserAuth

    .jumbotron
      .container
        h1.display-3 Bienvenido al sitio

        p.lead
          | En el siguiente sitio podr&aacute;s encontrar informaci&oacute;n sobre diversos temas. Prop&oacute;sito del sitio explicado brevemente. Tratar de fijar una altura m&aacute;xima para esta cosa pues var&iacute;a seg&uacute;n el contenido.


        p.lead
          a.btn.btn-primary.btn-lg(href='#', role='button') Conocer m&aacute;s


    .container.thumb-section
      .row
        .col-md-4
          .thumbnail
            img(src='images/fear.jpg' style='width : 230px; height : 200px;')

          .caption
            h3 Art&iacute;culo destacado 1

            p
              | Breve resumen sobre el contenido del art&iacute;culo hacer que los usuarios nos envien un resumen sobre su art&iacute;culo para ponerlo aqu&iacute;

            p
              a.btn.btn-primary(href='#') Leer m&aacute;s

        .col-md-4
          .thumbnail
            img(src='images/rh.jpg' style='width : 230px; height : 200px;')

          .caption
            h3 Art&iacute;culo destacado 2

            p
              | Breve resumen sobre el contenido del art&iacute;culo hacer que los usuarios nos envien un resumen sobre su art&iacute;culo para ponerlo aqu&iacute;

            p
              a.btn.btn-primary(href='#') Leer m&aacute;s

        .col-md-4
          .thumbnail
            img(src='images/thumb.jpg' style='width : 230px; height : 200px;')

          .caption
            h3 Art&iacute;culo destacado 3

            p
              | Breve resumen sobre el contenido del art&iacute;culo hacer que los usuarios nos envien un resumen sobre su art&iacute;culo para ponerlo aqu&iacute;

            p
              a.btn.btn-primary(href='#') Leer m&aacute;s

    //empiezan los boletines
    #accordion.container
      if titulos.length >0
        .panel.panel-default
          .panel-heading
            h4.panel-title
              a(data-toggle='collapse', data-parent='#accordion', href=col[0])=titulos[0]
          #collapseOne.panel-collpse.collapse.in
            -for(i = 0 ; i < tama単os[0] ; i++)
              .panel-body
                a(href='$')
                  span.glyphicon.glyphicon-download-alt

                a(href='#')=' '+ articulo[i+sumas[0]]
        if titulos.length >1
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle='collapse', data-parent='#accordion', href=col[1])=titulos[1]
            #collapseTwo.panel-collapse.collapse
              -for(i=0; i < tama単os[1];i++)
                .panel-body
                  a(href='$')
                    span.glyphicon.glyphicon-download-alt
                  a(href='#')=' ' + articulo[i+sumas[1]]
        if titulos.length >2
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle='collapse', data-parent='#accordion', href=col[2])=titulos[2]
            #collapseThree.panel-collapse.collapse
              -for(i=0; i < tama単os[2];i++)
                .panel-body
                  a(href='$')
                    span.glyphicon.glyphicon-download-alt
                  a(href='#')=' '+ articulo[i+sumas[2]]
        if titulos.length >3
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle='collapse', data-parent='#accordion', href=col[3])=titulos[3]
            #collapseFour.panel-collapse.collapse
              -for(i=0; i < tama単os[3];i++)
                .panel-body
                  a(href='$')
                    span.glyphicon.glyphicon-download-alt
                  a(href='#')=' '+ articulo[i+sumas[3]]
    //Termina aqui los boletines
    .footer
      .container
        h3 Informaci&oacute;n de contacto

        ul
          li Correo electr&oacute;nico:

          li Redes sociales:

        p Derechos reservados etc

        p M&aacute;s informaci&oacute;n
