doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/estilo-home-page.css')
    title P&aacute;gina del bolet&iacute;n

  body
    if message.length > 0
      div(class="alert alert-success" role="alert" style="margin-bottom:0px;")=message
      
    include navUserAuth  
    
    .jumbotron
      .container
        h1.display-3 Bienvenido al sitio

        p.lead
          | En el siguiente sitio podr&aacute;s encontrar informaci&oacute;n sobre diversos temas. Prop&oacute;sito del sitio explicado brevemente. Tratar de fijar una altura m&aacute;xima para esta cosa pues var&iacute;a seg&uacute;n el contenido.


        p.lead
          a.btn.btn-primary.btn-lg(href='#', role='button') Conocer m&aacute;s


    .container.thumb-section
      .row
        .col-md-4
          .thumbnail
            img(src='images/fear.jpg' style='width : 230px; height : 200px;')

          .caption
            h3 Art&iacute;culo destacado 1

            p
              | Breve resumen sobre el contenido del art&iacute;culo hacer que los usuarios nos envien un resumen sobre su art&iacute;culo para ponerlo aqu&iacute;

            p
              a.btn.btn-primary(href='#') Leer m&aacute;s

        .col-md-4
          .thumbnail
            img(src='images/rh.jpg' style='width : 230px; height : 200px;')

          .caption
            h3 Art&iacute;culo destacado 2

            p
              | Breve resumen sobre el contenido del art&iacute;culo hacer que los usuarios nos envien un resumen sobre su art&iacute;culo para ponerlo aqu&iacute;

            p
              a.btn.btn-primary(href='#') Leer m&aacute;s

        .col-md-4
          .thumbnail
            img(src='images/thumb.jpg' style='width : 230px; height : 200px;')

          .caption
            h3 Art&iacute;culo destacado 3

            p
              | Breve resumen sobre el contenido del art&iacute;culo hacer que los usuarios nos envien un resumen sobre su art&iacute;culo para ponerlo aqu&iacute;

            p
              a.btn.btn-primary(href='#') Leer m&aacute;s
  
    /// Parte de los boletines
    div(class="container")
      div(class="panel-group" id="accordion")
      
      if titulos.length > 0
        div(class="panel panel-default")
          div(class="panel-heading")
            h4(class="panel-title")
              a(data-toggle="collapse" data-parent="#accordion" href='#'+titulos[0])=titulos[0]

          div(id=titulos[0] class="panel-collapse collapse in")
            -for(var i = 0 ; i < tamaños[0] ; i++){
              div(class="panel-body")
              if isAuthenticated
                a(href="#")
                  span(class="glyphicon glyphicon-star")
              a(href="#")
                span(class="glyphicon glyphicon-download-alt")
              a(href='#')=' '+ articulo[i+sumas[0]]
            -}


      if titulos.length > 1
        div(class="panel panel-default")
          div(class="panel-heading")
            h4(class="panel-title")
              a(data-toggle="collapse" data-parent="#accordion" href="#collapse2")=titulos[1]
          
          div(id="collapse2" class="panel-collapse collapse")

            -for(var i = 0 ; i < tamaños[1] ; i++){
              div(class="panel-body")
              if isAuthenticated
                a(href="#" name=articulo[i+sumas[1]])
                  span(class="glyphicon glyphicon-star")
              a(href="#")
                span(class="glyphicon glyphicon-download-alt")
              a(href='#')=' '+ articulo[i+sumas[1]]
            -}

      
      if titulos.length > 2
        div(class="panel panel-default")
          div(class="panel-heading")
            h4(class="panel-title")
              a(data-toggle="collapse" data-parent="#accordion" href="#collapse3")=titulos[2]
          
          div(id="collapse3" class="panel-collapse collapse")

            -for(var i = 0 ; i < tamaños[2] ; i++){
              div(class="panel-body")
              if isAuthenticated
                a(href="#" name=articulo[i+sumas[2]])
                  span(class="glyphicon glyphicon-star")
              a(href="#")
                span(class="glyphicon glyphicon-download-alt")
              a(href='#')=' '+ articulo[i+sumas[2]]
            -}

    //Termina aqui los boletines
    include footer
