div(class='' id='' style='background-color: darkslategray;')
  div(class='container')
    nav(class="navbar navbar-default"  style='background-color: darkslategray; margin-bottom: 0px; border-color: darkslategray;')
      div(class="container-fluid")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
            span(class="sr-only")= 'Toggle navigation'
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="http://localhost:3000/" style="color:white;")= 'Boletín'
          ul(class="nav navbar-nav")
            li
              a(class="" href="http://localhost:3000/guia_autores" style="color:white;")='Guía para autores'
        
        div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="color:white;")
          ul(class="nav navbar-nav navbar-right" )
            if !isAuthenticated
              li
              li
                a(href="http://localhost:3000/registro" style="color:white;")='Registro '
                  i(class='glyphicon glyphicon-plus-sign')
              li
                a(href="http://localhost:3000/login" style="color:white;")='Ingresar '
                  i(class='glyphicon glyphicon-log-in')

            if isAuthenticated
              li(class="dropdown" style='color: white;')
                a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style='color:white')= user.nombre + ' '
                  span(class="caret")
                ul(class="dropdown-menu" style='background-color:darkslategray; color:white;')
                  li
                    a(href="http://localhost:3000/mi-usuario" style='background-color:darkslategray; color:white;')= 'Mi perfil'
                      span(class='glyphicon-user')
                  li
                    a(href="http://localhost:3000/auth-logout" style='background-color:darkslategray; color:white;')= 'Cerrar Sesion '
                      span(class='glyphicon glyphicon-log-out')
                  if user.tipo>=2
                    a(href="http://localhost:3000/upload-files" style='background-color:darkslategray; color:white;')= 'Enviar propuesta '
                      span(class='glyphicon glyphicon-upload')
                  if user.tipo>=3
                    li
                      a(href="http://localhost:3000/nuevo-boletin" style='background-color:darkslategray; color:white;')= 'Nuevo boletin '
                        span(class='glyphicon glyphicon-book')
                    //li
                      a(href="http://localhost:3000/eliminar_boletin" style='background-color:darkslategray; color:white;')= 'Eliminar boletín '
                        span(class='glyphicon glyphicon-book')
                    li
                      a(href="http://localhost:3000/editar_boletin" style='background-color:darkslategray; color:white;')= 'Editar boletin '
                        span(class='glyphicon glyphicon-book')
                    li
                      a(href="http://localhost:3000/modificar_usuarios" style='background-color:darkslategray; color:white;')= 'Modificar usuarios '
                        span(class='glyphicon glyphicon-user')
