extends templates/estilos

block content
  head
    script(src='/javascripts/crear_boletin.js')
  include templates/navUserAuth
  
  div(class='container')
    h2(style='text-align:center;')='Publicar boletín'
    
    form(action='' method='' name='')
      div(class='form-group')
        label(for='nombre')='Título para el boletín'
        input(id='nombre' type='text' class='form-control' placeholder='Título' required)
      div(class='form-group')
        label(for='descripcion')='Descripción para el boletín'
        textarea(id='descripcion' rows='5' class='form-control' placeholder='Descripción' required)
      
      table(class='table table-bordered')
        thead
          tr
            th
              span(class='glyphicon glyphicon-ok')
            th(style='text-align:center;')='Lista de artículos'
            th(style='text-align:center;')='Autor'
        tbody
          each x in articulos_copia
            if(x.boletin_asoc == 0)
              tr
                td
                  input(class='form-check-input' type='checkbox' value=x.id name='checkbox')
                td=x.titulo
                td=x.autor
      button(type='submit' class='btn btn-primary crear_boletin')='Crear boletín'

